name: CI

on: [ push, pull_request ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/check
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        hdfs-version: [ "2.10.1", "3.2.3", "3.3.2" ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - name: Checkout python env
        uses: actions/setup-python@v4.2.0
        with:
          python-version: '3.8'
      - name: Checkout java env
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '11'
      - name: Setup-hdfs env
        uses: beyondstorage/setup-hdfs@master
        with:
          hdfs-version: ${{ matrix.hdfs-version }}

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -- --nocapture
        env:
          RUST_LOG: DEBUG
          RUST_BACKTRACE: full
          HDRS_TEST: on
          HDRS_NAMENODE: hdfs://${{ env.HDFS_NAMENODE_ADDR }}
          HDRS_WORKDIR: /
          LD_LIBRARY_PATH: ${{ env.JAVA_HOME }}/lib/server:${{ env.LD_LIBRARY_PATH }}

      - name: Test with all features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features -- --nocapture
        env:
          RUST_LOG: DEBUG
          RUST_BACKTRACE: full
          HDRS_TEST: on
          HDRS_NAMENODE: hdfs://${{ env.HDFS_NAMENODE_ADDR }}
          HDRS_WORKDIR: /
          LD_LIBRARY_PATH: ${{ env.JAVA_HOME }}/lib/server:${{ env.LD_LIBRARY_PATH }}
